<h1 class="text-xl font-bold mb-4">柔術ミニマップ 🥋</h1>

<div data-controller="flows" style="width: 100%; height: 300px; border: 1px solid #ccc;">
</div>


<%# <div data-controller="flows">
  <svg id="flow-canvas" width="800" height="600" class="border border-gray-300"></svg>
</div> %>

<%# <div data-controller="hello">
  <input data-hello-target="name" type="text" placeholder="sample">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div> %>